/*Need this font for blockquote*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html {
    font-family: "Palatino";
    background: #eee;
    padding: 1rem;
}

h1 {
    /*color: #6645de;*/
    color:#054ce6;
    /*margin: 1rem 0;*/
    text-align: center;
}

h2 {
    color: #000000;
    /*margin: 1rem 0;*/
    text-align: center;
}

h3 {
    text-align: center
}

input[type=text] {
    font-size: 16px;
    /*display: inline-block;*/
    /*width: 50%;*/
    padding: 2% 3%;

    /*margin: 5% 0;*/
    box-sizing: border-box;
    border: solid transparent;
    /*border-radius: 3em;*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: left;


}

button {
    margin: auto;
    /*display: block;*/
    background-color: #FCCA03; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*border-radius: 4px;*/
}


/*table {*/
/*    !*font-family: Arial, Helvetica, sans-serif;*!*/
/*    border-collapse: collapse;*/
/*    width: 80%;*/
/*}*/

/*table td, table th {*/
/*    border: 1px solid #ddd;*/
/*    padding: 8px;*/
/*}*/

/*table tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

/*table tr:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*table th {*/
/*    padding-top: 12px;*/
/*    padding-bottom: 12px;*/
/*    text-align: center;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*table tr {*/
/*    text-align: center;*/
/*}*/


.center {
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}


input, button {
    width: 95%;
    /*margin: 2% 5%;*/
}


.image {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


form {
    text-align: center;
}


.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 50%;*/
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    /*background: #64ade8;*/
    background: #054ce6;
    color: white;
    font-weight: 600;
}

.Negative {
    background: #f51848;
}

.Positive {
    background: #3cc73e;
}

blockquote {
    font-family: 'Special Elite';
	font-weight: 100;
	font-size: 1.5rem;
    /*color:#054ce6;*/
    text-align: center;
	line-height: 1.4;
	/*position: relative;*/
	margin: 0 5%;
	/*padding: .5rem;*/
}

blockquote:before {
	content: '“';
}

blockquote:after {
	content: '”';
}

/*To make the footer at the bottom of the page*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: 1;
}

/* make it visible for the purposes of demo */
.footer {
    height: 50px;
    background-color: red;
}