<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='happy.ico') }}">
<head>
    <title>Sentiment Analysis</title>
</head>

<body>
<div class="row">
    <div class="column">
        <img src="{{ url_for('static', filename='happy.gif') }}" class="image">
    </div>
    <div class="column">
        <h1>Sentiment Analysis</h1>
        <h2>Positive or Negative</h2>
    </div>
    <div class="column">
        <img src="{{ url_for('static', filename='sad.gif') }}" class="image">
    </div>
</div>

<hr>
<h3>Input your message to get its sentiment</h3>

<!--<div class="row">-->
<!--    <div class="column">-->
<!--        -->
<!--    </div>-->
<!--</div>-->
<form method="post">
    <table width="100%">
        <tr>
            <td width="85%"><input type="text" name="message" id="message" required></td>
            <td width="15%">
                <button>SUBMIT</button>
            </td>
        </tr>
    </table>

</form>


<br>
<br>
<!--<table class="center">-->
<!--    <tr>-->
<!--        <th>Message</th>-->
<!--        <th>Sentiment</th>-->
<!--        <th>Score</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>{{message}}</td>-->
<!--        <td>{{sentiment}}</td>-->
<!--        <td>{{score}}</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<p>{{message}}</p>-->
<!--<div class="row">-->
<!--    <div class="column">-->
<!--        <div class="badge {{sentiment}}">{{sentiment}}</div>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--        <div class="badge">{{score}}</div>-->
<!--    </div>-->

<!--</div>-->


{% block content %}
{% endblock %}
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>

</body>

